*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(157, 170, 170);
}

#heading{
    background-color: blueviolet;
    font-size: 50px;
    border-color: rgb(239, 156, 156);
    border-width: 4px;
    border-style: dotted;
    border-radius: 12px;
    color: chartreuse;
    text-align: center;

}
table{
    width: 50%;
    font-size: 20px;
    color: chocolate;
    font-weight: bold;
}
#container{
    display: flex;
    justify-content: center;
}